In [7]:
import pandas as pd

# Membaca file CSV untuk data pelatihan dan pengujian
data_train = pd.read_csv('train_labels.csv')
data_test = pd.read_csv('test_features.csv')

# Menampilkan beberapa baris awal dari kedua dataset
print("Data Pelatihan:")
print(data_train.head())
print("\nData Pengujian:")
print(data_test.head())

# Melihat kolom yang ada pada kedua dataset
print("\nKolom pada Data Pelatihan:", data_train.columns)
print("\nKolom pada Data Pengujian:", data_test.columns)

# Menampilkan informasi umum terkait dataset (nilai kosong, tipe data, dll.)
print("\nInformasi Data Pelatihan:")
print(data_train.info())

print("\nInformasi Data Pengujian:")
print(data_test.info())

# Membandingkan statistik deskriptif dari kedua dataset
print("\nStatistik deskriptif Data Pelatihan:")
print(data_train.describe())

print("\nStatistik deskriptif Data Pengujian:")
print(data_test.describe())

# Mengecek jumlah nilai kosong pada kedua dataset
print("\nJumlah nilai kosong pada Data Pelatihan:")
print(data_train.isnull().sum())

print("\nJumlah nilai kosong pada Data Pengujian:")
print(data_test.isnull().sum())

# Mengecek kesamaan jumlah kolom atau nama kolom di kedua dataset
if set(data_train.columns) == set(data_test.columns):
    print("\nKolom pada kedua dataset identik.")
else:
    print("\nAda perbedaan kolom antara data pelatihan dan pengujian.")

# Membandingkan rata-rata nilai dari setiap kolom numerik
# Menyaring kolom numerik dari kedua dataset
kolom_numerik_train = data_train.select_dtypes(include=['number'])
kolom_numerik_test = data_test.select_dtypes(include=['number'])

# Mencari kolom numerik yang sama di kedua dataset
kolom_numerik_sama = kolom_numerik_train.columns.intersection(kolom_numerik_test.columns)

# Menghitung perbedaan rata-rata untuk kolom numerik yang sama
perbedaan_rata_rata = data_train[kolom_numerik_sama].mean() - data_test[kolom_numerik_sama].mean()

print("\nPerbedaan rata-rata nilai antara Data Pelatihan dan Pengujian:")
print(perbedaan_rata_rata)

Data Pelatihan:
   jumlah_promosi
0               2
1               0
2               1
3               4
4               4

Data Pengujian:
     ID  tahun_kelahiran pendidikan status_pernikahan   pendapatan  \
0  2241             1957    Sarjana               NaN  120660151.0
1  2274             1968     Doktor           Menikah  163551821.0
2  1107             1968        SMA           Menikah   29857000.0
3  4478             1971     Doktor           Menikah  117949098.0
4  5080             1974    Sarjana   Rencana Menikah  164761134.0

   jumlah_anak_balita  jumlah_anak_remaja  terakhir_belanja  belanja_buah  \
0                 0.0                 1.0              63.0      122277.0
1                 0.0                 1.0              58.0       35761.0
2                 0.0                 0.0              34.0        8092.0
3                 0.0                 1.0              82.0        4872.0
4                 0.0                 0.0              28.0      343208.0

   belanja_daging  belanja_ikan  belanja_kue  pembelian_diskon  pembelian_web  \
0        541399.0      214192.0      84305.0               4.0            6.0
1        353335.0       63365.0      41112.0               2.0            5.0
2         22253.0       30345.0      26299.0               2.0            0.0
3        126061.0           0.0       9745.0               3.0            5.0
4       1416462.0      236196.0     107776.0               0.0            1.0

   pembelian_toko  keluhan tanggal_menjadi_anggota
0            10.0      0.0                     NaN
1            10.0      0.0                     NaN
2             5.0      0.0              2013-08-06
3             7.0      0.0                     NaN
4             8.0      0.0                     NaN

Kolom pada Data Pelatihan: Index(['jumlah_promosi'], dtype='object')

Kolom pada Data Pengujian: Index(['ID', 'tahun_kelahiran', 'pendidikan', 'status_pernikahan',
       'pendapatan', 'jumlah_anak_balita', 'jumlah_anak_remaja',
       'terakhir_belanja', 'belanja_buah', 'belanja_daging', 'belanja_ikan',
       'belanja_kue', 'pembelian_diskon', 'pembelian_web', 'pembelian_toko',
       'keluhan', 'tanggal_menjadi_anggota'],
      dtype='object')

Informasi Data Pelatihan:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3817 entries, 0 to 3816
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   jumlah_promosi  3817 non-null   int64
dtypes: int64(1)
memory usage: 29.9 KB
None

Informasi Data Pengujian:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3818 non-null   int64
 1   tahun_kelahiran          3818 non-null   int64
 2   pendidikan               3614 non-null   object
 3   status_pernikahan        3636 non-null   object
 4   pendapatan               3615 non-null   float64
 5   jumlah_anak_balita       3609 non-null   float64
 6   jumlah_anak_remaja       3608 non-null   float64
 7   terakhir_belanja         3617 non-null   float64
 8   belanja_buah             3632 non-null   float64
 9   belanja_daging           3623 non-null   float64
 10  belanja_ikan             3622 non-null   float64
 11  belanja_kue              3631 non-null   float64
 12  pembelian_diskon         3639 non-null   float64
 13  pembelian_web            3638 non-null   float64
 14  pembelian_toko           3632 non-null   float64
 15  keluhan                  3625 non-null   float64
 16  tanggal_menjadi_anggota  1059 non-null   object
dtypes: float64(12), int64(2), object(3)
memory usage: 507.2+ KB
None

Statistik deskriptif Data Pelatihan:
       jumlah_promosi
count     3817.000000
mean         2.585800
std          2.101845
min          0.000000
25%          0.000000
50%          3.000000
75%          4.000000
max          6.000000

Statistik deskriptif Data Pengujian:
                ID  tahun_kelahiran    pendapatan  jumlah_anak_balita  \
count  3818.000000      3818.000000  3.615000e+03         3609.000000
mean   3841.507072      1967.789942  1.163249e+08            0.282904
std    2198.401006        11.808572  5.105122e+07            0.465005
min       2.000000      1892.000000  2.998899e+06            0.000000
25%    1950.750000      1959.000000  8.168162e+07            0.000000
50%    3872.500000      1968.000000  1.177321e+08            0.000000
75%    5770.750000      1976.000000  1.506877e+08            1.000000
max    7634.000000      2009.000000  1.305740e+09            2.000000

       jumlah_anak_remaja  terakhir_belanja   belanja_buah  belanja_daging  \
count         3608.000000       3617.000000    3632.000000    3.623000e+03
mean             0.355322         47.181366   61234.083425    4.528484e+05
std              0.496865         26.940287   76647.590617    5.123206e+05
min              0.000000          0.000000       0.000000    0.000000e+00
25%              0.000000         25.000000    7497.500000    5.462100e+04
50%              0.000000         46.000000   29525.000000    2.327530e+05
75%              1.000000         68.000000   86776.750000    7.217960e+05
max              2.000000        133.000000  408646.000000    3.271191e+06

        belanja_ikan    belanja_kue  pembelian_diskon  pembelian_web  \
count    3622.000000    3631.000000       3639.000000    3638.000000
mean    85338.612093   63801.505921          2.101676       4.465091
std    103789.546199   78428.544713          2.115571       2.935615
min         0.000000       0.000000          0.000000       0.000000
25%     10115.000000    8092.000000          0.000000       2.000000
50%     40025.500000   29251.000000          2.000000       4.000000
75%    129656.750000   91407.000000          3.000000       6.000000
max    574932.000000  532049.000000         17.000000      27.000000

       pembelian_toko      keluhan
count     3632.000000  3625.000000
mean         5.835628     0.002759
std          3.288349     0.052457
min          0.000000     0.000000
25%          3.000000     0.000000
50%          5.000000     0.000000
75%          8.000000     0.000000
max         17.000000     1.000000

Jumlah nilai kosong pada Data Pelatihan:
jumlah_promosi    0
dtype: int64

Jumlah nilai kosong pada Data Pengujian:
ID                            0
tahun_kelahiran               0
pendidikan                  204
status_pernikahan           182
pendapatan                  203
jumlah_anak_balita          209
jumlah_anak_remaja          210
terakhir_belanja            201
belanja_buah                186
belanja_daging              195
belanja_ikan                196
belanja_kue                 187
pembelian_diskon            179
pembelian_web               180
pembelian_toko              186
keluhan                     193
tanggal_menjadi_anggota    2759
dtype: int64

Ada perbedaan kolom antara data pelatihan dan pengujian.

Perbedaan rata-rata nilai antara Data Pelatihan dan Pengujian:
Series([], dtype: float64)

In [2]:
import pandas as pd

# Membaca file CSV untuk data train dan test
train_data = pd.read_csv('train_labels.csv')
test_data = pd.read_csv('test_features.csv')

# Menampilkan beberapa baris pertama dari kedua dataset
print("Data Train:")
print(train_data.head())
print("\nData Test:")
print(test_data.head())

# Memeriksa kolom yang terdapat di masing-masing dataset
print("\nKolom di Data Train:", train_data.columns)
print("\nKolom di Data Test:", test_data.columns)

# Menampilkan informasi dasar dari kedua dataset (missing values, tipe data, dll.)
print("\nInformasi Data Train:")
train_data.info()

print("\nInformasi Data Test:")
test_data.info()

# Memeriksa statistik deskriptif pada kedua dataset
print("\nStatistik Deskriptif Data Train:")
print(train_data.describe())

print("\nStatistik Deskriptif Data Test:")
print(test_data.describe())

# Memeriksa jumlah missing value di setiap dataset
print("\nJumlah missing value di Data Train:")
print(train_data.isnull().sum())

print("\nJumlah missing value di Data Test:")
print(test_data.isnull().sum())

# Mengecek kesamaan kolom antara kedua dataset
if set(train_data.columns) == set(test_data.columns):
    print("\nKolom di kedua dataset identik.")
else:
    print("\nAda perbedaan kolom antara dataset train dan test.")

# Membandingkan nilai rata-rata untuk setiap kolom numerik yang ada di kedua dataset
numeric_columns = train_data.select_dtypes(include=['number']).columns.intersection(test_data.select_dtypes(include=['number']).columns)
mean_difference = train_data[numeric_columns].mean() - test_data[numeric_columns].mean()

# --- Akhir perubahan ---

print("\nPerbedaan nilai rata-rata antara Data Train dan Data Test:")
print(mean_difference)

Data Train:
   jumlah_promosi
0               2
1               0
2               1
3               4
4               4

Data Test:
     ID  tahun_kelahiran pendidikan status_pernikahan   pendapatan  \
0  2241             1957    Sarjana               NaN  120660151.0
1  2274             1968     Doktor           Menikah  163551821.0
2  1107             1968        SMA           Menikah   29857000.0
3  4478             1971     Doktor           Menikah  117949098.0
4  5080             1974    Sarjana   Rencana Menikah  164761134.0

   jumlah_anak_balita  jumlah_anak_remaja  terakhir_belanja  belanja_buah  \
0                 0.0                 1.0              63.0      122277.0
1                 0.0                 1.0              58.0       35761.0
2                 0.0                 0.0              34.0        8092.0
3                 0.0                 1.0              82.0        4872.0
4                 0.0                 0.0              28.0      343208.0

   belanja_daging  belanja_ikan  belanja_kue  pembelian_diskon  pembelian_web  \
0        541399.0      214192.0      84305.0               4.0            6.0
1        353335.0       63365.0      41112.0               2.0            5.0
2         22253.0       30345.0      26299.0               2.0            0.0
3        126061.0           0.0       9745.0               3.0            5.0
4       1416462.0      236196.0     107776.0               0.0            1.0

   pembelian_toko  keluhan tanggal_menjadi_anggota
0            10.0      0.0                     NaN
1            10.0      0.0                     NaN
2             5.0      0.0              2013-08-06
3             7.0      0.0                     NaN
4             8.0      0.0                     NaN

Kolom di Data Train: Index(['jumlah_promosi'], dtype='object')

Kolom di Data Test: Index(['ID', 'tahun_kelahiran', 'pendidikan', 'status_pernikahan',
       'pendapatan', 'jumlah_anak_balita', 'jumlah_anak_remaja',
       'terakhir_belanja', 'belanja_buah', 'belanja_daging', 'belanja_ikan',
       'belanja_kue', 'pembelian_diskon', 'pembelian_web', 'pembelian_toko',
       'keluhan', 'tanggal_menjadi_anggota'],
      dtype='object')

Informasi Data Train:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3817 entries, 0 to 3816
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   jumlah_promosi  3817 non-null   int64
dtypes: int64(1)
memory usage: 29.9 KB

Informasi Data Test:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3818 non-null   int64
 1   tahun_kelahiran          3818 non-null   int64
 2   pendidikan               3614 non-null   object
 3   status_pernikahan        3636 non-null   object
 4   pendapatan               3615 non-null   float64
 5   jumlah_anak_balita       3609 non-null   float64
 6   jumlah_anak_remaja       3608 non-null   float64
 7   terakhir_belanja         3617 non-null   float64
 8   belanja_buah             3632 non-null   float64
 9   belanja_daging           3623 non-null   float64
 10  belanja_ikan             3622 non-null   float64
 11  belanja_kue              3631 non-null   float64
 12  pembelian_diskon         3639 non-null   float64
 13  pembelian_web            3638 non-null   float64
 14  pembelian_toko           3632 non-null   float64
 15  keluhan                  3625 non-null   float64
 16  tanggal_menjadi_anggota  1059 non-null   object
dtypes: float64(12), int64(2), object(3)
memory usage: 507.2+ KB

Statistik Deskriptif Data Train:
       jumlah_promosi
count     3817.000000
mean         2.585800
std          2.101845
min          0.000000
25%          0.000000
50%          3.000000
75%          4.000000
max          6.000000

Statistik Deskriptif Data Test:
                ID  tahun_kelahiran    pendapatan  jumlah_anak_balita  \
count  3818.000000      3818.000000  3.615000e+03         3609.000000
mean   3841.507072      1967.789942  1.163249e+08            0.282904
std    2198.401006        11.808572  5.105122e+07            0.465005
min       2.000000      1892.000000  2.998899e+06            0.000000
25%    1950.750000      1959.000000  8.168162e+07            0.000000
50%    3872.500000      1968.000000  1.177321e+08            0.000000
75%    5770.750000      1976.000000  1.506877e+08            1.000000
max    7634.000000      2009.000000  1.305740e+09            2.000000

       jumlah_anak_remaja  terakhir_belanja   belanja_buah  belanja_daging  \
count         3608.000000       3617.000000    3632.000000    3.623000e+03
mean             0.355322         47.181366   61234.083425    4.528484e+05
std              0.496865         26.940287   76647.590617    5.123206e+05
min              0.000000          0.000000       0.000000    0.000000e+00
25%              0.000000         25.000000    7497.500000    5.462100e+04
50%              0.000000         46.000000   29525.000000    2.327530e+05
75%              1.000000         68.000000   86776.750000    7.217960e+05
max              2.000000        133.000000  408646.000000    3.271191e+06

        belanja_ikan    belanja_kue  pembelian_diskon  pembelian_web  \
count    3622.000000    3631.000000       3639.000000    3638.000000
mean    85338.612093   63801.505921          2.101676       4.465091
std    103789.546199   78428.544713          2.115571       2.935615
min         0.000000       0.000000          0.000000       0.000000
25%     10115.000000    8092.000000          0.000000       2.000000
50%     40025.500000   29251.000000          2.000000       4.000000
75%    129656.750000   91407.000000          3.000000       6.000000
max    574932.000000  532049.000000         17.000000      27.000000

       pembelian_toko      keluhan
count     3632.000000  3625.000000
mean         5.835628     0.002759
std          3.288349     0.052457
min          0.000000     0.000000
25%          3.000000     0.000000
50%          5.000000     0.000000
75%          8.000000     0.000000
max         17.000000     1.000000

Jumlah missing value di Data Train:
jumlah_promosi    0
dtype: int64

Jumlah missing value di Data Test:
ID                            0
tahun_kelahiran               0
pendidikan                  204
status_pernikahan           182
pendapatan                  203
jumlah_anak_balita          209
jumlah_anak_remaja          210
terakhir_belanja            201
belanja_buah                186
belanja_daging              195
belanja_ikan                196
belanja_kue                 187
pembelian_diskon            179
pembelian_web               180
pembelian_toko              186
keluhan                     193
tanggal_menjadi_anggota    2759
dtype: int64

Ada perbedaan kolom antara dataset train dan test.

Perbedaan nilai rata-rata antara Data Train dan Data Test:
Series([], dtype: float64)